
/*

Custom Variables

*/

// Colors (css ruined my english skills)
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #FFFFFF;
$silver: #DDDDDD;
$gray9:  #999999;
$grayC:  #CCCCCC;
$gray:   #AAAAAA;
$black:  #000000;

// Specific Brand Colours

$primary-color: $aqua;
$secondary-color: $grayC;

$primary-color-light: mix($primary-color, $white);
$primary-color-dark: mix($primary-color, $black);
$secondary-color-light: mix($secondary-color, $white);
$secondary-color-dark: mix($secondary-color, $black);
